<a id="top"></a>
<section class="af-banner-top">
    ORDER BEFORE 1PM FOR NEXT DAY DELIVERY  |  FREE RETURNS
</section>

<section class="af-banner">
    <div class="af-banner__logo">
        <a href="/">
            <img height="46" alt="" src="http://i1.adis.ws/i/dcdemo/anyafinn-logo">
        </a>
    </div>
    <div class="af-banner__account-options">
        <a href="#" class="af-banner__account-option-icon" onclick='afModal.show("#locale-modal");'>
            <img src="http://dcdemo.a.bigcontent.io/v1/static/af-locator">
        </a>
        <a href="#" class="af-banner__account-option-icon" onclick='afModal.show("#account-modal");'>
            <img src="http://dcdemo.a.bigcontent.io/v1/static/af-account">
        </a>
        <a href="#" class="af-banner__account-option-icon">
            <img src="http://dcdemo.a.bigcontent.io/v1/static/af-cart">
        </a>
        <span class='af-banner__account-cart-total' onclick="afDebug.debug();">$329.00</span>
    </div>
</section>

<nav class="af-navigation">
    <ul class="af-navigation__top-level">
        <li><a href='/'>Home</a></li>
        <li class='af-navigation__droppable'>
            <a href='/womens'>Womens</a>
            <div class='af-navigation__mega-menu'>
                <div class="af-navigation__panel">
                    <div>
                        <ul class="ul-reset">
                            <h3>NEW IN</h3>
                            <li><a href='#'>NEW ARRIVALS</a></li>
                            <li><a href='#'>BEST SELLERS</a></li>
                            <li><a href='#'>EXCLUSIVES</a></li>
                            <li><a href='#'>GIFT VOUCHERS</a></li>
                            <li><a href='#'>COLLECTIONS</a></li>
                            <li><a href='#'>EDITOR'S PICKS</a></li>
                        </ul>
                        <ul class="ul-reset">
                            <h3>CLOTHING</h3>
                            <li><a href='#'>DRESSES</a></li>
                            <li><a href='#'>JACKETS &amp; COATS</a></li>
                            <li><a href='#'>JEANS</a></li>
                            <li><a href='#'>KNITWEAR</a></li>
                            <li><a href='#'>SHORTS &amp; SKIRTS</a></li>
                            <li><a href='#'>SWEATSHIRTS</a></li>
                            <li><a href='#'>TOPS</a></li>
                            <li><a href='#'>TROUSERS</a></li>
                        </ul>
                        <ul class="ul-reset">
                            <h3>DESIGNERS</h3>
                            <li><a href='#'>BURBERRY LONDON</a></li>
                            <li><a href='#'>DOLCE &amp; GABBANA</a></li>
                            <li><a href='#'>FENDI</a></li>
                            <li><a href='#'>FENTY PUMA BY RIHANNA</a></li>
                            <li><a href='#'>KENZO</a></li>
                            <li><a href='#'>MAX ET MOI</a></li>
                            <li><a href='#'>MCQ ALEXANDER MCQUEEN</a></li>
                            <li><a href='#'>MICHAEL MICHAEL KORS</a></li>
                        </ul>
                        <ul class="ul-reset">
                            <h3>SHOES</h3>
                            <li><a href='#'>BOOTS</a></li>
                            <li><a href='#'>FLATS</a></li>
                            <li><a href='#'>HEELS</a></li>
                            <li><a href='#'>SLIPPERS</a></li>
                            <li><a href='#'>TRAINERS</a></li>
                        </ul>
                        <ul class="ul-reset">
                            <h3>ACCESSORIES</h3>
                            <li><a href='#'>BAGS</a></li>
                            <li><a href='#'>BELTS</a></li>
                            <li><a href='#'>FRAGRANCE</a></li>
                            <li><a href='#'>HATS</a></li>
                            <li><a href='#'>JEWELLERY</a></li>
                            <li><a href='#'>SUNGLASSES</a></li>
                            <li><a href='#'>TECHNOLOGY</a></li>
                        </ul>
                        <ul class="ul-reset">
                            <h3>DESIGNER SHOPS</h3>
                            <li><a href='#'>AGENT PROVOCATEUR</a></li>
                            <li><a href='#'>CALVIN KLEIN</a></li>
                            <li><a href='#'>CANADA GOOSE</a></li>
                            <li><a href='#'>CHRISTIAN LOUBOUTI</a></li>
                            <li><a href='#'>GIUSEPPE ZANOTTI</a></li>
                            <li><a href='#'>GUCCI</a></li>
                            <li><a href='#'>HUGO BOSS</a></li>
                            <li><a href='#'>JIMMY CHOO</a></li>
                            <li><a href='#'>MCM</a></li>
                            <li><a href='#'>MONCLER</a></li>
                            <li><a href='#'>POLO RALPH LAUREN</a></li>
                        </ul>
                    </div>
                    <div class="af-navigation__banner">
                        {{ templateChooser this }}
                    </div>
                </div>
            </div>
        </li>
        <li class='af-navigation__droppable'>
            <a href='#'>Men</a>
            <div class='af-navigation__mega-menu'>
                <div class="af-navigation__panel">
                    <div>
                        <ul class="ul-reset">
                            <h3>NEW IN</h3>
                            <li><a href='#'>NEW ARRIVALS</a></li>
                            <li><a href='#'>BEST SELLERS</a></li>
                            <li><a href='#'>EXCLUSIVES</a></li>
                            <li><a href='#'>GIFT VOUCHERS</a></li>
                            <li><a href='#'>COLLECTIONS</a></li>
                            <li><a href='#'>EDITOR'S PICKS</a></li>
                        </ul>
                        <ul class="ul-reset">
                            <h3>CLOTHING</h3>
                            <li><a href='#'>JACKETS &amp; COATS</a></li>
                            <li><a href='#'>JEANS</a></li>
                            <li><a href='#'>KNITWEAR</a></li>
                            <li><a href='#'>SHORTS</a></li>
                            <li><a href='#'>SWEATSHIRTS</a></li>
                            <li><a href='#'>TOPS</a></li>
                            <li><a href='#'>TROUSERS</a></li>
                        </ul>
                        <ul class="ul-reset">
                            <h3>SHOES</h3>
                            <li><a href='#'>CASUAL</a></li>
                            <li><a href='#'>BOOTS</a></li>
                            <li><a href='#'>LOAFERS</a></li>
                            <li><a href='#'>SLIPPERS</a></li>
                            <li><a href='#'>TRAINERS</a></li>
                        </ul>
                        <ul class="ul-reset">
                            <h3>ACCESSORIES</h3>
                            <li><a href='#'>BAGS</a></li>
                            <li><a href='#'>BELTS</a></li>
                            <li><a href='#'>FRAGRANCE</a></li>
                            <li><a href='#'>HATS</a></li>
                            <li><a href='#'>JEWELLERY</a></li>
                            <li><a href='#'>SUNGLASSES</a></li>
                            <li><a href='#'>TECHNOLOGY</a></li>
                        </ul>
                        <ul class="ul-reset">
                            <h3>DESIGNER SHOPS</h3>
                            <li><a href='#'>AGENT PROVOCATEUR</a></li>
                            <li><a href='#'>CALVIN KLEIN</a></li>
                            <li><a href='#'>CANADA GOOSE</a></li>
                            <li><a href='#'>CHRISTIAN LOUBOUTI</a></li>
                            <li><a href='#'>GIUSEPPE ZANOTTI</a></li>
                            <li><a href='#'>GUCCI</a></li>
                            <li><a href='#'>HUGO BOSS</a></li>
                            <li><a href='#'>JIMMY CHOO</a></li>
                            <li><a href='#'>MCM</a></li>
                            <li><a href='#'>MONCLER</a></li>
                            <li><a href='#'>POLO RALPH LAUREN</a></li>
                        </ul>
                    </div>
                    <div class="af-navigation__banner">
                        {{ templateChooser this }}
                    </div>
                </div>
            </div>
        </li>
        <li><a href='/lookbook'>Lookbook</a></li>
        <li><a href='/inspiration'>Inspiration</a></li>
    </ul><!-- .container .ul-reset -->
</nav>

<div class="af-modal-content">
    <div id="locale-modal" class="af-modal af-modal-locale">
        <h2>ANYA FINN International</h2>
        
        <div class="af-form">
            <div class="af-form-field">
                <label for="language" role="text">Language</label>
                <select class="af-select" id="language">
                    <option value="en-US">Select preferred language</option>
                    <option value="en-US">English</option>
                    <option value="de-DE">Deutsch</option>
                    <option value="zh-CN">简体中文</option>
                </select>
            </div>
        </div>

        <div class="af-form">
            <div class="af-form-field">
                <label for="currency" role="text">Currency</label>
                <select class="af-select" id="currency">
                    <option value="USD">Select preferred currency</option>
                    <option value="USD">USD</option>
                </select>
            </div>
        </div>

        <div class="af-form">
            <div class="af-form-field">
                <button class="af-button af-button-dark" onclick='afModal.confirmLocale();'>Confirm</button>
                <button class="af-button af-button-light" onclick='afModal.hide("#locale-modal");'>Cancel</button>
            </div>
        </div>
    </div>

    <div id="account-modal" class="af-modal af-modal-account">
        <h2>Sign In</h2>
        
        <div class="af-form-field">
            <label for="username" role="text">Username</label>
            <select class="af-select" id="username">
                <option value="bargain-hunter">Bargain Hunter</option>
                <option value="fashionista">Fashionista</option>
                <option value="home-trendsetter">Home Trendsetter</option>
                <option value="globe-trotter">Globe Trotter</option>
                <option value="guest">Guest</option>
            </select>
        </div>
        
        <div class="af-form-field">
            <label for="password" role="text">Password</label>
            <input id="password" type="password" class="af-input" value="password">
        </div>

        <div class="af-form-field">
            <button class="af-button af-button-dark" onclick='afModal.login();'>Sign In</button>
            <button class="af-button af-button-light" onclick='afModal.hide("#account-modal");'>Cancel</button>
        </div>

        <hr />

        <label role="text">Don’t have an account?</label>
        <div class="af-form-field">
            <button class="af-button af-button-light" onclick='afModal.hide("#account-modal");'>Create an account</button>
        </div>

    </div>
</div>