<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <title>ANYA FINN</title>

    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed:200,400,700" rel="stylesheet">
    <script src="/js/sliderHelper.js"></script>
    <script src="/js/lory.min.js"></script>
    <script src="/js/shoppableVideo.js"></script>
    <script src="/js/af-modal.js"></script>
    <script src="/js/af-debug.js"></script>
</head>
<body>

{{{body}}}


</body>
<script>
    loryHelpers.initSliders(document.querySelectorAll('.js_slider'));
    shoppableVideo.init(document.querySelectorAll('.af-shoppable-video'));
</script>
</html>